# Documentation: https://clang.llvm.org/docs/ClangFormatStyleOptions.html
# Formatting
ColumnLimit: 100
IndentWidth: 4
NamespaceIndentation: All
TabWidth: 4
UseTab: Never

MaxEmptyLinesToKeep: 1

# Alignment checks
AlignTrailingComments: true
AlignAfterOpenBracket: Align
AlignOperands: AlignAfterOperator

# Allowed shortenings
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Always
AllowShortLoopsOnASingleLine: true

# Line breaks
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeComma
BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: true

DerivePointerAlignment: false
PointerAlignment: Middle

SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true

SortIncludes: true
SortUsingDeclarations: true

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^".*\.h"'
    Priority: 1
  - Regex: '<[[:alnum:].]+>'
    Priority: 2

